- function full (_url) { return url.resolve(config.url, _url) }
- function dateFormat (string) { return moment(string).format("ddd[,] DD MMM YYYY HH:mm:ss ZZ") }

doctype xml
rss(version="2.0")&attributes(xlmns)
	channel
		title Ethereal Webcomic
		atom:link(href= full('rss') rel="self" type="application/rss+xml")/
		link= config.url
		description A webcomic about bored college students and corporate astronauts.
		lastBuildDate= dateFormat( moment() )
		language en-US
			sy:updatePeriod hourly
			sy:updateFrequency 1
		generator https://github.com/das-aiya/webcomic.js
		
		for u in updates
			item
				title= u.name
				link= full(u.link)
				pubDate= dateFormat(u.date)
				dc:creator anonymous

				for t in u.tags
					category
						| <![CDATA[!{t}]]>

				guid(isPermaLink='true')= u.link

				description
					| <![CDATA[!{u.desc}]]
				| !{u.desc}
				p
					a(href= full(u.link) title= u.name)
						img(src= full(u.src) alt= u.name)/
